@media only screen and (min-width: 500px) {
  /* for large screen */
  .activity__form {
    width: 30vw;
  }
  .activity {
    display: flex;
  }
  .activity__todayActivities {
    padding: 0px 0px 0px 40px !important;
    width: 200px;
  }
}

.activity {
  padding: 20px;
  border: 1px solid lightgray;
  justify-content: center;
  height: auto;
}

.activity__form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  column-gap: 10px;
  /* width: 30vw; */
  border: 1px solid lightgray;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px lightgrey;
}

.activity__todayActivities {
  padding: 20px;
}

.activity__activityManage {
  display: flex;
  flex-direction: column;
}
