@media only screen and (min-width: 768px) {
  /* for large screen */
  .home__mainText h1 {
    font-size: 3rem !important;
    padding: 0 50px;
  }
  .home__mainText h2 {
    padding: 0 100px !important;
    font-weight: 100;
  }
}

.home {
  padding: 10px 0;
  background-color: rgb(245 245 245 / 91%);
  /* height: 100vh; */
}
.home__mainText {
  text-align: center;
}

.home__mainText h1 {
  font-size: 2rem;
}
.home__mainText h2 {
  font-weight: 100;
}
.chartImg {
  object-fit: contain;
  max-width: 100%;
  margin: auto;
}
.home__chartExampleConatiner {
  display: grid;
  padding-top: 20px;
  text-align: center;
}

.home__description {
  padding: 50px 0;
  margin-top: 30px;
  text-align: center;
  background-color: #bdbdbd;
  border-radius: 20px;
}

.home__description p {
  padding: 10px;
  font-size: 1.1em;
}

.home__description h1 {
  text-transform: uppercase;
}

.home__goToAppButton {
  padding-top: 20px;
}
