.navbar {
  background-color: rgb(245 245 245 / 91%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.navbar h1 {
  font-family: monospace;
  font-size: 1.7em;
}

.navbar__form {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
}

.navbar__brand {
  text-decoration: none;
  color: black;
}
